<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/payment.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Submit</title>
</head>
<body>
    
Balance : <span class="balance">xyz</span>
<div class="container">
  <div id="Checkout" class="inline">
      <h1 class="submitPayTitle">Fill information and pay fees</h1>

      <form id="target">
          <div class="form-group">
            <div class="proceed-button">
            <div class="form-group">
                <label or="NameOnCard">Data</label>
                <input id="NameOnCard" name="data" class="informationProvided form-control" type="text" maxlength="255"></input>
            </div>
          
          <button id="PayButton" class="submitPay btn btn-block btn-success submit-button" style="width: 100%; margin:1rem 0rem" type="submit">
              <span class="submit-button-lock"></span>
              <span class="align-right">Pay and proceed</span>
          </button>
        </div></div>
          </div>
      </form>
  </div>
</div>

<form action="/successUser" method="GET">
    <button disabled="disabled" class="successUser" type="submit"></button>
</form>

<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.0/web3.min.js" integrity="sha512-0/nXBDmnbXRIkGvwIK2UWg4F8xscIFZHGl2sWevr6f0DnFEqZh4uTw78qLQYC16tVxbbHhoaaZLSBoIopZQucg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/submitPay.js"></script>
</body>
</html>