<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Upload </title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Uplaod information </h2>
          <form action="/upload" enctype="multipart/form-data" method="post">
            <input type="hidden" name="id" value="<%= id %>" />
            <input type="file" name="information"  class="fadeIn second" multiple="multiple" /><br/>
            <input type="submit" class="fadeIn third" value="Upload" />
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
              All file types are supported
          </div>
      
        </div>
      </div>
</body>
</html>
